/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #121212; /* Dark background */
    color: #fff;
}

header, footer {
    background-color: #212121;
    padding: 1em;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
}

/* Header Styles */
#search-container {
    margin-top: 10px;
}

#searchInput {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

/* Game Card Styles */
.game-card {
    background-color: #333;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    width: calc(30% - 2em); /* Adjust for spacing */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card h3 {
    margin-top: 0;
}

.game-card p {
    margin-bottom: 0.5em;
}

/* Filters Styles */
.filters {
    width: 20%;
    padding: 1em;
}

select {
    margin-bottom: 0.5em;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

/* Pagination Styles */
#pagination {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 768px) {
    .game-card {
        width: calc(50% - 2em);
    }

    .filters {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .game-card {
        width: 100%;
    }
}
